header{
	width: 100%;
	background-color: #BDBDBD;
	display: block;
	float: left;
}

header img{
	width: 150px;
	height: 150px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

header, section, footer{
	border:2px solid black;
}
nav#menu-principal ul li{
	display: inline-block;
	float: right;
	padding-left: 20px;
	margin-top: 100px;
	margin-right: 1em;
}

section#primera{
	background-color: #FACC2E;
	display: block;
	float: left;
	width: 100%;
}

section#segunda{
	background-color: #298A08;
	display: block;
	float: left;
	width: 100%;
}

section#tercera{
	background-color: #F5DA81;
	display: block;
	float: left;
	text-align: center;
	width: 100%;
}

section#cuarta{
	background-color: #F7819F;
	display: block;
	float: left;
	width: 100%;
}

section#cuarta p{
text-align:center;
}

h1 {
	color:black;
	font-size: 40px;
}

h2 {
	color:black;
	font-size: 32px;
	text-align: center;
}

body{
	font-size: 18px;
}

section#primera article{
	display: block;
	float: left;
	width: 700px;

}

article img{
	display: block;
	float: left;
	width:200px;
	height:200px;
	padding-left: 15%;
}

section#segunda article ul{
	display: block;
	float: left;
}

aside{
	background-color: white;
	display: block;
	float: left;
	width: 40%;
	margin-top: 1%;
	margin-right: 2%;
	margin-bottom: 2%;
	border: 2px solid black;
}
aside a{
	background-color: #F5F6CE;
	display: block;
	margin: 10px;
	margin-left: 30%;
	padding: 10px 0px;
	width: 60px;
	text-align:center;
	border: 1px solid black;
	text-decoration:none;
}

footer{
	font-size: 20px;
	background-color: #58ACFA;
	display: block;
	float: left;
	padding: 10px;
	text-align: center;
	color:black;
	width: 100%;
}
section#cuarta article ul li{
	background-color: white;
	display: block;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 40%;
	margin-right: 40%;
}
article#video{
	background-color: white;
	display: block;
	float: left;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 80px;
	padding-left: 80px;
	margin-left: 60%;
	border:2px solid black;
}
